  <header>
      <!-- <h1><a href="/">REDLINE</a></h1> -->
      <div id="band-photo">
	   <div id="social-networking">
        <div class="facebook">
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fredlinenc&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:135px; height:21px;" allowTransparency="true">
          </iframe>
        </div><!-- end .facebook -->
        <div class="twitter">
          <a href="https://twitter.com/RedlineRaleigh" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @RedlineRaleigh</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div><!-- end .twitter -->
       </div><!-- end #social-networking -->    
      </div><!-- end #band-photo -->

 </header>
